@import "tailwindcss";

@layer base {
  body {
    background-color: var(--color-zinc-50);
    @variant dark {
      background-color: var(--color-zinc-950);
    }
  }
}

body {
  font-family: var(--font-sans);
}
